<MudStepper @bind-ActiveIndex="index">
    <TitleTemplate />
    <ConnectorTemplate Context="step">
        <div class="mud-stepper-nav-connector" style="width:100%; height:2px; background-color:var(--color-primary-light)" />
    </ConnectorTemplate>
    <LabelTemplate>
        @if (context.IsActive)
        {
            <div style="display: flex; align-items: center; justify-content: center; height: 25px; width:25px; background-color:var(--color-primary-light); border: solid 2px var(--color-primary-light);  border-radius: 50%;" />
        }
        else if (context.Completed)
        {
            <div style="display: flex; align-items: center; justify-content: center; height: 25px; width:25px; background-color:var(--color-primary-light); border: solid 2px var(--color-primary-light); border-radius: 50%;">
                <MudIcon Icon="@Icons.Material.Filled.Done" Color=Color.Inherit Style="color:var(--color-light)"></MudIcon>
            </div>
        }
        else
        {
            <div style="height: 25px; width:25px; background-color:var(--color-light); border: solid 2px var(--color-primary-light); border-radius: 50%;" />
        }
    </LabelTemplate>
    <ChildContent>
        @if (loading)
        {
            <div class="d-flex flex-column justify-center align-center" style="height: 80vh;">
                <MudProgressCircular Color="Color.Success"
                                     Style="height:70px; width:70px;"
                                     Indeterminate="true" />

                <MudText Typo="Typo.body2"
                         Align="Align.Center"
                         Class="mt-4"
                         Style="color:var(--color-primary-dark)">
                    Загружаем данные, подождите немного..
                </MudText>
            </div>
        }
        else
        {
            <MudStep>
                <div style="height:80dvh; overflow-y:auto; padding-bottom:16px;">
                    <OwnerComponent PetCardModel="PetCardModel" OnOwnerValidChanged="HandleOwnerValidChanged" />
                </div>
            </MudStep>

            <MudStep>
                <div style="height:80dvh; overflow-y:auto; padding-bottom:16px;">
                    <PetComponent PetCardModel="PetCardModel" />
                </div>
            </MudStep>

            <MudStep @bind-Completed="completed">
                <div style="height:80dvh; overflow-y:auto; padding-bottom:16px;">
                    <PreviewComponent PetCardModel="PetCardModel" />
                </div>
            </MudStep>
        }
    </ChildContent>
    <ActionContent Context="stepper">
        @if (!loading)
        {
            @if (index == 0)
            {
                <MudButton Variant="Variant.Text"
                           Style="color:var(--color-secondary); flex-shrink: 0"
                           OnClick="@(() => GoToStart())"
                           StartIcon="@Icons.Material.Filled.ArrowBackIos">
                    На главную
                </MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Text"
                           Style="color:var(--color-secondary); flex-shrink: 0"
                           OnClick="@(() => stepper.PreviousStepAsync())"
                           StartIcon="@Icons.Material.Filled.ArrowBackIos"
                           Disabled="@(index < 1)">
                    Назад
                </MudButton>
            }

            <MudSpacer />

            @if (index == 2)
            {
                <MudButton Variant="Variant.Filled"
                           Style="background-color:var(--color-primary-light); color:var(--color-light); flex-shrink:0; border-radius:25px;"
                           OnClick="@OnRegisterClick"
                           EndIcon="@Icons.Material.Filled.Check">
                    Все верно
                </MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Filled"
                           Style="background-color:var(--color-primary-light); color:var(--color-light); flex-shrink:0; border-radius:25px;"
                           OnClick="@(() => stepper.NextStepAsync())"
                           Disabled="!CanGoNext"
                           EndIcon="@Icons.Material.Filled.ArrowForwardIos">
                    Дальше
                </MudButton>
            }
        }
    </ActionContent>
</MudStepper>