@if (PetCard is null)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Color="Color.Primary"
                             Style="height:50px; width:50px;"
                             Indeterminate="true" />
    </div>
}
else
{
    <MudStack Class="pa-1" Style="height: 100%; overflow-y: auto; overflow-x: hidden">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" Class="d-flex justify-center mt-3">
                <MudAvatar Style="height:120px; width:120px; background-color:#f0f0f0; display:flex; align-items:center; justify-content:center;">
                    @if (PetCard.PhotoUrl is null)
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Pets"
                                 Style="font-size:64px; color:var(--color-primary-light);" />
                    }
                    else
                    {
                        <img src="@PetCard.PhotoUrl"
                             style="width:100%; height:100%; object-fit:cover; object-position:center; " />
                    }
                </MudAvatar>
            </MudItem>
            <MudItem xs="12" Class="d-flex flex-column align-center">
                <MudText Align="Align.Center" Typo="Typo.h6">
                    Привет!<br />
                    @if (!string.IsNullOrWhiteSpace(@PetCard.PetName))
                    {
                        <span>Меня зовут @PetCard!.PetName<br /></span>
                    }
                    Похоже я потерялся
                </MudText>

                @if (!string.IsNullOrWhiteSpace(PetCard.Info))
                {
                    <MudText Class="my-3" Align="Align.Center" Typo="Typo.body1">
                        (@PetCard.Info)
                    </MudText>
                }

                @if (!string.IsNullOrWhiteSpace(PetCard.Address))
                {
                    <MudText Align="Align.Center" Typo="Typo.body2">
                        Возможно, мой дом недалеко:<br />
                        <MudText Typo="Typo.body1">@PetCard.Address</MudText>
                    </MudText>
                }

                <MudText Class="mt-5" Typo="Typo.body1" Align="Align.Center">
                    Пожалуйста, сообщите моему владельцу,<br />что Вы меня нашли.<br />
                    <br />
                    Контакты для связи:
                </MudText>
              </MudItem>
            <MudItem xs="12" Class="d-flex justify-center pt-1">
                <MudIconButton Icon="@Icons.Material.Filled.Phone" Size="Size.Large" Color="Color.Dark" OnClick="@CallOwner" />

                @foreach (var link in PetCard.SocialLinks)
                {
                    var data = socialMap[link.Type];

                    <MudIconButton Icon="@data.Icon"
                                   Color="Color.Info"
                                   Size="Size.Large"
                                   OnClick="@(() => OpenSocial(link))"
                                   Class="mx-1" />
                }
            </MudItem>
            <MudItem xs="12" Class="d-flex flex-column align-center">
                <MudText Typo="Typo.h6" Align="Align.Center">
                    Спасибо!
                </MudText>
                <MudIcon Icon="@Icons.Material.Filled.Favorite"
                         Color="Color.Secondary"
                         Size="Size.Large" />
            </MudItem>
        </MudGrid>
    </MudStack>
}